@import "_variables";

html {
  margin-left: calc(100vw - 100%);
  background-color: $grey-bg;
  overflow-y: overlay;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 1.4;
  scroll-behavior: smooth;
  position: relative;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

input,
select {
  outline: 0;
  &:active,
  &:visited {
    outline: 0;
  }
}

button {
  border: none;
  background-color: transparent;
}

.container-base {
  width: auto;
  margin: 0 auto 70px;
  padding: 160px 0 130px;
  max-width: $max-container-width;
  min-height: calc(100vh - 70px);
  @include mQuery(tablet) {
    padding: 130px 0;
  }
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.2rem;
  color: $grey;
  span {
    color: $accent;
  }
}

.btn-container {
  margin: 40px auto 0;
  max-width: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
