@import "_variables";

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 1.4;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

input,
select {
  outline: 0;
  &:active,
  &:visited {
    outline: 0;
  }
}

.container-bg {
  margin: 40px auto 0;
  background-color: $grey-bg;
  min-height: calc(100vh - 40px);
  overflow: hidden;
}

.container-base {
  width: auto;
  margin: 0 auto;
  padding-top: 60px;
  max-width: $max-container-width;
}

.wrapper-base {
  padding-bottom: 50px;
}
