@import "_variables";

.slide-fade-enter-active {
  transition-delay: 0.5s;
  transition: 0.2s;
}

.slide-fade-leave-active {
  transition: 0.3s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translate3d(0, -200%, 0);
}

.fade-enter-active,
.fade-leave-active {
  transition-delay: 0.5s;
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// =========== fade-title transition

.fade-title-enter-active,
.fade-title-leave-active {
  transition: opacity 1s;
}

.fade-title-enter,
.fade-title-leave-to {
  opacity: 0;
}
.fade-title-leave-active {
  position: absolute;
}

// =========== fade-search-title transition

.fade-search-title-enter-active,
.fade-search-title-leave-active {
  transition: opacity 0.3s;
}

.fade-search-title-enter,
.fade-search-title-leave-to {
  opacity: 0;
}
.fade-search-title-leave-active {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

// =========== fade-group transition

.fade-group-enter-active,
.fade-group-leave-active {
  transition: $transition;
}

.fade-group-enter,
.fade-group-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.fade-group-leave-active {
  position: absolute;
}

// =========== switch-group transition

.switch-group-enter-active,
.switch-group-leave-active {
  // transition-delay: 0.5s;
  transition: $transition;
}

.switch-group-enter,
.switch-group-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.switch-group-leave-active {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

// =========== fade-ingredients transition

.fade-ingredients-enter-active,
.fade-ingredients-leave-active {
  transition: $transition;
}

.fade-ingredients-enter,
.fade-ingredients-leave-to {
  opacity: 0;
  &.btn {
    transform: translateY(30px);
  }
}

.fade-ingredients-leave-active {
  position: absolute;
  width: 660px;
  height: 45px;
  &.btn {
    width: auto;
    height: auto;
  }
}

// =========== page transition

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
