.search-form {
  width: 250px;
  margin: 0 auto;
  position: relative;
  left: -35px;
  transition: $transition;
  transition-delay: 0.5s;
  &:host {
    display: block;
  }

  .btn-add {
    margin: 0 auto 15px;
    display: block;
    right: -70px;
    border: none;
    cursor: pointer;
    box-shadow: $box-shadow-search;
    &:hover {
      box-shadow: $box-shadow-searchDark;
    }
  }
}
