.recipe-page {
  font-size: 14px;
  height: 100vh;
  @include mQuery(mobile) {
    height: auto;
  }
}
.ingredient-checked {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 10px;
    background: #fa6a18;
  }
}
.recipe-photo {
  height: 55vh;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  &:before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.7));
    position: absolute;
    z-index: 1;
  }
  &__link {
    color: #fa6a18;
    padding: 5px;
    margin-left: 7px;
    text-decoration: none;
  }
  &__content {
    @include mQuery(desktop) {
      width: 50%;
      margin-left: 25%;
    }
    width: 90%;
    margin-left: 5%;
    padding: 0 25px;
    position: fixed;
    z-index: 3;
    top: 31vh;
    h1 {
      font-size: 23px;
      color: rgba(255, 255, 255, 0.9);
      font-weight: normal;
      margin-left: 0;
      margin-bottom: 20px;
      font-weight: 700;
    }

    .heart {
      top: 80px;
      right: 30px;
      margin-right: 5px;
      position: absolute;
      cursor: pointer;
    }
  }
  &__details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    &-data {
      color: #fa6a18;
      p {
        margin-bottom: 9px;
        margin-top: 3px;
      }
      span {
        color: #fff;
      }
    }
  }
  &__details-links {
    display: flex;
    flex-direction: column;
  }
}

.recipe-content {
  border-radius: 30px 30px 0 0;
  position: relative;
  z-index: 10;
  margin-top: 41vh;
  min-height: calc(59vh - 100px);
  background-color: #fff;
  position: relative;
  background-color: $recipe-bg;
  &__headlines {
    @include mQuery(desktop) {
      width: 50%;
      margin-left: 25%;
    }
    text-align: center;
    button {
      font-size: 2rem;
      font-weight: 700;
      padding: 40px 0 25px;
    }
  }
}

.recipe-ingredients,
.recipe-recipe {
  width: 100%;
  @include mQuery(mobile) {
    width: 400px;
    margin: 0 auto;
  }

  padding: 0 25px 115px;
}
.recipe-recipe {
  padding-top: 30px;
}
.recipe-ingredients__header {
  display: flex;
  justify-content: space-between;
  color: #fa6a18;
  margin-top: 30px;
  margin-bottom: 25px;
}
.recipe-ingredients__clock {
  display: flex;
  svg {
    margin-top: 3px;
  }
  p {
    margin-left: 8px;
  }
}
.recipe-ingredients__ingredients {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $accent;
  padding: 10px 15px;
}
button {
  color: $accent;
  height: 50px;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  svg {
    box-sizing: content-box;
    width: 25px;
    height: 30px;
    padding: 7px;
  }
}
.button-active {
  color: $black;
  outline: none;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: $primary;
    bottom: -4px;
  }
}
